<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El burato - Contacto</title>
    <link rel="icon" href="../fotos/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    
</head>
<body>
    <header>
        <h1><img src="../fotos/logo.png"></h1>
        <h2> El burato</h2>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Contáctanos</h2>
        <p>Dirección: Ojos-Albos, Ávila, España</p>
        <p>Teléfono: +666 666 666</p>
        <p>Email: contacto@elburato.com</p>

        <h3>Nuestra ubicación:</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.549975435245!2d-4.518743723464832!3d40.705907887987735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd40fb2b87248efd%3A0x2a396b40d1d9a585!2s05193%20Ojos-Albos%2C%20%C3%81vila!5e0!3m2!1ses!2ses!4v1702580618826!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </main>

    <footer>
        <p>Síguenos en nuestras redes:</p>
        <div class="redes">
            <a href="https://www.facebook.com"><img src="../fotos/facebook.png" alt="Facebook" width="256" height="256"></a>
            <a href="https://www.Instagram.com/193.brand/"><img src="../fotos/instagram.png" alt="Instagram" width="512" height="512"></a>
            <a href="https://www.x.com"><img src="../fotos/x.png" alt="x" width="1200" height="1200"></a>
        </div>
        <p>Ojos Albos, Ávila, España</p>
        <p><a href="../views/avisolegal.html">Aviso Legal</a></p>
    </footer>
</body>
</html>
