<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El burato - Productos</title>
    <link rel="icon" href="../fotos/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <div class="logo-header">
            <h1><img src="../fotos/logo.png" alt="Logo de El Burato"></h1>
            <h2>El burato</h2>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li style="background: rgb(0, 0, 0);"><a href="productos.html" class="active">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="galeria">

            <img src="../fotos/burato-naranja.jpg" alt="logo naranja">
            <img src="../fotos/burato-negro.jpg" alt="logo negro">
            <img src="../fotos/burato-verde.jpg" alt="logo verde">
            <img src="../fotos/gorra-burato.jpg" alt="gorra 1">
            <img src="../fotos/gorra-burato2.jpg" alt="gorra 2">
            <img src="../fotos/gorra-burato3.jpg" alt="gorra 3">
            <img src="../fotos/sudadera-burato1.jpg" alt="sudadera 1">
            <img src="../fotos/sudadera-burato2.jpg" alt="sudadera 2">
            <img src="../fotos/sudadera-burato3.jpg" alt="sudadera 3">
            <img src="../fotos/foto_1.jpg" alt="foto 1">
            <img src="../fotos/foto_2.jpg" alt="foto 2">
            <img src="../fotos/foto_3.jpg" alt="foto 3">
            <img src="../fotos/foto_4.jpg" alt="foto 4">
            <img src="../fotos/foto_5.jpg" alt="foto 5">
            <img src="../fotos/foto_6.png" alt="foto 6">
            <img src="../fotos/foto_7.PNG" alt="foto 7">
            <img src="../fotos/foto_8.PNG" alt="foto 8">
            <img src="../fotos/foto_9.jpg" alt="foto 9">



        </div>
    </main>

    <footer>
        <p>Síguenos en nuestras redes:</p>
    <div class="redes">
        <a href="https://www.facebook.com"><img src="../fotos/facebook.png" alt="Facebook" width="30px"></a>
        <a href="https://www.Instagram.com/193.brand/"><img src="../fotos/instagram.png" alt="Instagram" width="30px"></a>
        <a href="https://www.x.com"><img src="../fotos/x.png" alt="x" width="30px"></a>
    </div>
        <p>Ojos Albos, Ávila, España</p>
        <p><a href="../views/avisolegal.html">Aviso Legal</a></p>
    </footer>
</body>
</html>
