<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El burato - Productos</title>
    <link rel="icon" href="../fotos/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <div class="logo-header">
            <h1><img src="../fotos/logo.png" alt="Logo de El Burato"></h1>
            <h2>El burato</h2>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="productos.html" class="active">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="galeria">

            <img src="../fotos/burato-naranja.jpg" alt="logo naranja" width="1000" height="1000">
            <img src="../fotos/burato-negro.jpg" alt="logo negro" width="1000" height="1000">
            <img src="../fotos/burato-verde.jpg" alt="logo verde" width="1000" height="1000">
            <img src="../fotos/gorra-burato.jpg" alt="gorra amarilla" width="2000" height="2000">
            <img src="../fotos/gorra-burato2.jpg" alt="gorra azul" width="2000" height="2000">
            <img src="../fotos/gorra-burato3.jpg" alt="gorra blanca" width="2000" height="2000">
            <img src="../fotos/sudadera-burato1.jpg" alt="sudadera amarilla" width="3000" height="3000">
            <img src="../fotos/sudadera-burato2.jpg" alt="sudadera azul" width="3000" height="3000">
            <img src="../fotos/sudadera-burato3.jpg" alt="sudadera blanca" width="3000" height="3000">
            <img src="../fotos/foto_1.jpg" alt="camiseta" width="4000" height="4000">
            <img src="../fotos/foto_2.jpg" alt="camiseta cristiano" width="1079" height="1079">
            <img src="../fotos/foto_3.jpg" alt="camiseta dueños" width="3024" height="3024">
            <img src="../fotos/foto_4.jpg" alt="camista victor" width="2070" height="2070">
            <img src="../fotos/foto_5.jpg" alt="camiseta dueños 2" width="3024" height="3024">
            <img src="../fotos/foto_6.png" alt="camiseta pablo" width="1125" height="1125">
            <img src="../fotos/foto_7.PNG" alt="el burato pegatina" width="1125" height="1125">
            <img src="../fotos/foto_8.PNG" alt="el burato roma" width="1125" height="1125">
            <img src="../fotos/foto_9.jpg" alt="el burato pegatina 2" width="3024" height="3024">



        </div>
    </main>

    <footer>
        <p>Síguenos en nuestras redes:</p>
    <div class="redes">
        <a href="https://www.facebook.com"><img src="../fotos/facebook.png" alt="Facebook" width="256" height="256"></a>
        <a href="https://www.Instagram.com/193.brand/"><img src="../fotos/instagram.png" alt="Instagram" width="512" height="512"></a>
        <a href="https://www.x.com"><img src="../fotos/x.png" alt="x" width="1200" height="1200"></a>
    </div>
        <p>Ojos Albos, Ávila, España</p>
        <p><a href="../views/avisolegal.html">Aviso Legal</a></p>
    </footer>
</body>
</html>
